<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}About us{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">Lingua Base</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              
              <li class="nav-item">
                <a class="nav-link" href="/predict">Predict</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/useful_links">Dataset Anlysis</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dataset">Dataset</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
              </li>
            </ul>
          </div>
        </nav>
        <center>
        <div><h1>Andrea Nichil</h1></div>
        
        <div>
                <a href="https://simple.wikipedia.org/wiki/List_of_endangered_languages">Contact me on linkedin</a>
            </div>
        <div>
                <a href="https://www.instagram.com/andreanichil/?hl=it">Contact me on Instagram</a>
            </div>
        <div>
                <a href="https://github.com/AndreaNichil">Check my GitHub</a>
            </div>
        <a href="https://ibb.co/5rSCWmV"><img src="https://i.ibb.co/3pjVy2H/Senza-titolo.png" alt="Senza-titolo" border="0"></a>   
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        </center>
    </body>
</html>

