<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My final project</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
        <nav>
            <a href="app.html">HOME</a>
            <a href="https://www.instagram.com/andreanichil/?hl=it">ABOUT US</a>
            <a href="index.html">USEFUL LINKS</a>
            <a href="output_final.html">DATASET</a>
        </nav>
        <h1>Language extinction calculator</h1>
        <h2 class="my-class">Check if your dialect or language is at risk</h2>
        <p>Is it in here?</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Languages_world_map.svg">
        </main>
    <footer>
        <p>For more information: </p>
        <a href="app.html">INFO</a>
    </footer>

</body>
</html>
